In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df.head()

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f91,f92,f93,f94,f95,f96,f97,f98,f99,target
0,0,0.106643,3.59437,132.8040,3.18428,0.081971,1.18859,3.73238,2.266270,2.09959,...,1.09862,0.013331,-0.011715,0.052759,0.065400,4.211250,1.97877,0.085974,0.240496,0
1,1,0.125021,1.67336,76.5336,3.37825,0.099400,5.09366,1.27562,-0.471318,4.54594,...,3.46017,0.017054,0.124863,0.154064,0.606848,-0.267928,2.57786,-0.020877,0.024719,0
2,2,0.036330,1.49747,233.5460,2.19435,0.026914,3.12694,5.05687,3.849460,1.80187,...,4.88300,0.085222,0.032396,0.116092,-0.001688,-0.520069,2.14112,0.124464,0.148209,0
3,3,-0.014077,0.24600,779.9670,1.89064,0.006948,1.53112,2.69800,4.517330,4.50332,...,3.47439,-0.017103,-0.008100,0.062013,0.041193,0.511657,1.96860,0.040017,0.044873,0
4,4,-0.003259,3.71542,156.1280,2.14772,0.018284,2.09859,4.15492,-0.038236,3.37145,...,1.91059,-0.042943,0.105616,0.125072,0.037509,1.043790,1.07481,-0.012819,0.072798,1

In [4]:
df.shape

(600000, 102)

In [8]:
X = df.drop('target',axis=1)

In [9]:
y= df['target']

In [10]:
y.shape

(600000,)

In [5]:
df_test = pd.read_csv('test.csv')

In [6]:
df_test.shape

(540000, 101)

In [3]:
from sklearn.model_selection import train_test_split

In [60]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.90, random_state=27)

In [61]:
from sklearn.preprocessing import StandardScaler

In [62]:
st = StandardScaler()

In [63]:
st.fit(X_train)

StandardScaler()

In [64]:
X_train = st.transform(X_train)

In [65]:
X_test = st.transform(X_test)

In [66]:
from sklearn.linear_model import LogisticRegression

In [67]:
logmodel = LogisticRegression()

In [68]:
logmodel.fit(X_train,y_train)

LogisticRegression()

In [69]:
predictions = logmodel.predict(X_test)

In [70]:
pred = pd.DataFrame(predictions)

In [71]:
pred

        0
0       0
1       1
2       1
3       0
4       1
...    ..
539995  0
539996  0
539997  1
539998  1
539999  0

[540000 rows x 1 columns]

In [72]:
from sklearn.metrics import classification_report

In [73]:
classification_report(y_test,predictions)

'              precision    recall  f1-score   support\n\n           0       0.73      0.72      0.73    266867\n           1       0.73      0.74      0.74    273133\n\n    accuracy                           0.73    540000\n   macro avg       0.73      0.73      0.73    540000\nweighted avg       0.73      0.73      0.73    540000\n'

In [74]:
from sklearn.metrics import accuracy_score

In [80]:
accuracy_score(y_test,predictions)

0.7313111111111111

In [76]:
id = df_test['id']

In [77]:
submission = pd.concat([id,pred],axis=1)

In [78]:
submission.columns = ['id','target']

In [79]:
submission.to_csv('submission_.csv',index = False)